/* --------------- General Content ------------- */

body {
    font-family: arial, sans-serif;
}

.content {
    position: relative;
}

/* ------------- Navigation Content ------------ */
.nav-op {
    margin: 10px;
    color: grey;
    text-decoration: none;
    font-size: 10pt;
}

.nav-op:hover {
    text-decoration: underline;
}

.nav-left {
}

.nav-right {
    padding-right: 12px;
}

/* --------------- Header Content -------------- */

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#sign-in {
    border-radius: 2px;
    width: 80px;
    height: 35px;
    background-color: #2289d5;
    color: white;
    position: relative;
    font-size: .8em;
    text-align: center;
    font-weight: 600;
    margin: 0px 5px 5px 5px;
    border: 1px solid #CAC9C9;
}

/* -------------- Primary Content -------------- */

.primary-content {
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo-container {
    padding: 10px;
}

#google-logo {
}

#search-container {
}

#search-bar {
    width: 40%;
    height: 34px;
    border: 1px solid grey;
}

#button-container {
    padding: 10px;
    margin-top: 10px;
}

.button {
    border-radius: 2px;
    width: 140px;
    height: 40px;
    background-color: #d0d0d04d;
    color: #686363;
    position: relative;
    font-size: .80em;
    font-family: Arial;
    text-align: center;
    font-weight: 600;
    margin: 0px 5px 5px 5px;
    border: 1px solid white;
}

.button:hover {
    border: 1px solid #d1d1d1d1;
}

#search-button {
}

#lucky-button {
}

/* --------------- Footer Content -------------- */

.footer-content {
    display: flex;
    justify-content: space-between;
    height: 10px;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #d1d1d1;
}
