body {
    font-family: arial, sans-serif;
}

.content {
    position: relative;
}

/* --------------- Header Content -------------- */

.header-content {
}

/* -------------- Primary Content -------------- */

.primary-content {
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo-container {
    padding: 10px;
}

#google-logo {
    max-width: 16%;
    width: auto;
}

#search-container {
}

#search-bar {
    width: 22%;
    height: 25px;
}

#button-container {
}

#search-button {
}

#lucky-button {
}

/* --------------- Footer Content -------------- */

.footer-content {
}