/* --------------- General Content ------------- */

body {
    font-family: arial, sans-serif;
}

.content {
    position: relative;
}

/* ------------- Navigation Content ------------ */
.nav-left {
}

.nav-right {
}

.nav-op {
}

/* --------------- Header Content -------------- */

.header-content {
    display: flex;
}

/* -------------- Primary Content -------------- */

.primary-content {
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo-container {
    padding: 10px;
}

#google-logo {
}

#search-container {
}

#search-bar {
    width: 40%;
    height: 34px;
}

#button-container {
    padding: 10px;
}

#search-button {
}

#lucky-button {
}

/* --------------- Footer Content -------------- */

.footer-content {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}