[submodule "Jordan-Howard-Manuscript"]
	path = Jordan-Howard-Manuscript
	url = https://github.com/Jordanhoward91/html_css_bootcamp.git
[submodule "HTML-email-project/tesla-html-css-clone"]
	path = HTML-email-project/tesla-html-css-clone
	url = https://github.com/jordanhudgens/tesla-html-css-clone.git
[submodule "html-email"]
	path = html-email
	url = https://github.com/jordanhudgens/html-email.git
[submodule "social-network-html-css"]
	path = social-network-html-css
	url = https://github.com/jordanhudgens/social-network-html-css.git
[submodule "week3/ReactPropStateThisDeepDive"]
	path = week3/ReactPropStateThisDeepDive
	url = https://github.com/jordanhudgens/ReactPropStateThisDeepDive.git
[submodule "week4/ReactComponentLifecycleDeepDive"]
	path = week4/ReactComponentLifecycleDeepDive
	url = https://github.com/jordanhudgens/ReactComponentLifecycleDeepDive.git
[submodule "schedule-app"]
	path = schedule-app
	url = https://github.com/Kardbord/schedule-app.git
[submodule "madlib"]
	path = madlib
	url = https://github.com/Kardbord/madlib.git
[submodule "property-management"]
	path = property-management
	url = https://github.com/Kardbord/property-management.git
