body {
  font-family: sans-serif;
  color: #ab3939;
}

#heading {
  padding: 42px;
  background: black;
  -webkit-animation: myAnimation 5s infinite;
  animation: myAnimation 5s infinite;
}

@-webkit-keyframes 'myAnimation' {
  50% {
    background-color: purple;
  }
}

@keyframes 'myAnimation' {
  50% {
    background-color: purple;
  }
}

#page-title { }

.content {
  background-color: white;
  font-size: 0.8em;
  color: #767676;
}